:root {
  --secondary: #0c234c50;
  --primary: #0267c6e2;
  --white: #FFFFFF;
}

.App {
  text-align: center;
  background-size: cover;
  overflow: auto;
}

.Pie {
  border-color: rgb(255, 255, 255);
}

@media (prefers-reduced-motion: no-preference) {
  .Pie {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background: linear-gradient(var(--primary), #0267c6F0);
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Panel {
  background-color: #0c234c20;
}

.Chart-Group {
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 2vmin;
  margin: 2vmin;
}

.Legend-Box {
  width: 100%;
  background-color: var(--primary);
  padding: 2vmin 0vmin 2vmin 0vmin;
  border-radius: 10px;
}

.Legend {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 10px;
}

.Datasets-Group {
  height: 18vh;
  width: 20vw;
  padding: 6vh 1vmin 6vh 1vmin;
  margin: 2vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  border-radius: 10px;
}

.Data-Select {
  width: 40vw;
  padding: 10px;
  margin: 1vmin;
  background-color: var(--secondary);
  border-radius: 10px;
}

.Dataset-Label {
  font-size: 2vmin;
  color: var(--white);
  font-weight: bold;
}

.Sum-Group {
  bottom: 0;
  height: 10vmin;
  margin: 3vmin;
  padding: 2vmin;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  border-radius: 10px;
}

.Sum-Label {
  margin-top: -50px;
  width: 100%;
  background-color: #FFFFFF80;
  color: black;
  font-size: 2.8vmin;
  padding: 1vmin;
  border-radius: 5px;
}

.Series-Label {
  background-color: var(--secondary);
  border-radius: 20px;
  color: #FFFFFF;
}

.Legend-Title {
  border-radius: 20px;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  font-size: 3vmin;
}

.Radio-Control-Label {
  width: auto;
}

.Chart-Count {
  display: flex;
  padding: 2vmin;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #FFFFFF80;
}

@media (max-width: 800px) {
  .Resizable {
    height: 40vw;
    width: 40vw;
  }
  .Legend {
    width: 40vw;
  }
  .Legend-Label {
    font-size: 1.7vmin;
  }
  .Datasets-Group {
    width: 24.6vw;
    padding: 0 2vw 0 2vw;
    margin: 2vw;
  }
  .Chart-Div {
    position: relative;
    right: 0;
    margin-top: 15vh;
  }
  .Panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .Sum-Label {
    margin-top: -5px;
  }
}

@media (min-width: 800px) {
  .Resizable {
    height: 40vh;
    width: 300px;
    margin: 2vw;
  }
  .Legend {
    width: 30vw;
  }
  .Legend-Label {
    font-size: 1.2vw;
  }
  .Chart-Div {
    margin-left: 25vw;
  }
}