:root {
  --secondary: #0c234c60;
  --primary: #0267c6e2;
  --white: #FFFFFF;
}

.App {
  text-align: center;
  background-size: cover;
  overflow: auto;
}

.Pie {
  border-color: rgb(255, 255, 255);
}

@media (prefers-reduced-motion: no-preference) {
  .Pie {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background: linear-gradient(var(--primary), #0267c6C0);
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Chart-Group {
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 2vmin;
}

.Legend-Box {
  background-color: var(--secondary);
  padding: 2vmin;
  border-radius: 10px;
}

.Legend {
  display: flex;
  padding: 1vmin 0vmin 1vmin 0vmin;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 10px;
}

.Datasets-Group {
  top: 0;
  margin: 3vmin;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  border-radius: 10px;
}

.Dataset-Label {
  font-size: 2vmin;
  color: var(--white);
  font-weight: bold;
}

.Sum-Group {
  bottom: 0;
  height: 10vmin;
  margin: 3vmin;
  padding: 2vmin;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  border-radius: 10px;
}

.Sum-Label {
  margin: 1.5vmin;
}

.Series-Label {
  background-color: var(--secondary);
  border-radius: 20px;
}

.Radio-Control-Label {
  width: auto;
}

.Chart-Count {
  display: flex;
  padding: 2vmin;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: rgba(255, 99, 132, 0.8);
}

@media (max-width: 800px) {
  .Resizable {
    height: 40vw;
    width: 40vw;
  }
  .Legend {
    width: 40vw;
  }
  .Legend-Label {
    font-size: 2.5vmin;
    width: 40vw;
  }
}

@media (min-width: 800px) {
  .Resizable {
    height: 40vh;
    width: 300px;
    margin: 2vw;
  }
  .Legend {
    width: 30vw;
  }
  .Legend-Label {
    font-size: 20px;
    width: 40vw;
  }
}